<%- include('partials/header') %>
<main class="bg-dark text-white min-vh-100">
  <div class="container h-100 justify-content-between pt-sm pt-5 pb-5">
    <h1 class="text-center">Compose</h1>
    <form action="/compose" method="POST">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          class="form-control"
          id="title"
          autocomplete="off"
        />
      </div>
      <div class="form-group">
        <label for="Input">Post</label>
        <textarea
          name="value"
          class="form-control"
          id="Input"
          autocomplete="off"
          cols="30"
          rows="10"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Compose</button>
    </form>
  </div>
</main>
<%- include('partials/footer') %>
