<%- include('partials/header') %>
<main class="bg-dark text-white min-vh-100">
  <div class="container h-100 justify-content-between pt-sm pt-5 pb-5">
    <div class="card bg-dark text-white mb-4 border border-info">
      <div class="card-body">
        <h5 class="card-title"><%=element.title%></h5>
        <p class="lead"><%=element.value%></p>
      </div>
    </div>
  </div>
</main>
<%- include('partials/footer') %>
