@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Monoton&display=swap");

.card {
  border-radius: 0 !important;
}

.navbar {
  border-bottom: 2px solid #19a2b8 !important;
}

footer {
  border-top: 2px solid #19a2b8 !important;
}

.card:last-child {
  margin-bottom: 0px !important;
}

.btn {
  border-radius: 0 !important;
}

.logo {
  text-decoration: underline;
  font-family: "Monoton", cursive;
  font-size: 2rem;
  color: #ffeb99 !important;
}
@media only screen and (max-width: 766px) and (min-width: 0px) {
  .pt-sm {
    overflow: hidden;
    padding-top: 1.5rem !important;
  }
}
